{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Iniciar Seccion" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<div class="container">
<p>{% blocktrans with site.name as site_name %}A continuacion iniciara seccion con nosotros, si no tiene una cuenta <a
    href="{{ signup_url }}">Registrate</a>
  o, puedes registrarte con una cuenta de las siguiente red social {{ site_name }} a continuación:{% endblocktrans %}
</p>


{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
</p>
{% endif %}

<form class="signup" id="signup_form" method="post" action="{% url 'iniciar' %}"><!--account_login-->
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Olvidaste tu contraseña?" %}</a>
  <button class="btn bg-primary text-white ml-5" type="submit" style="min-width: 200px;">{% trans "Iniciar" %}</button>
</form>
</div>
{% endblock %}

{% block aside %}
<div class="mt-5">
  <h1 class="text-center">Seccion Social </h1>
  <p>{% blocktrans with site.name as site_name %}...O tambien puede iniciar seccion con las redes sociales {{ site_name }} a continuación:{% endblocktrans %}</p>
  <div class="row mt-5 justify-content-center">
    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}