{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<form action="{% url 'agregar_via' %}" method="POST" id="agregar_via" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.errors}}
    <h3>Crea tu via</h3>
    <h6>Nombre del la Via :</h6> {{ form.nombre_via |as_crispy_field }}
    <h6>Link de la via :</h6>{{ form.link |as_crispy_field }}
    <h6>Imagen de la via :</h6>{{ form.imagen |as_crispy_field }}
    <h6>Tipo de via :</h6>{{ form.tipo |as_crispy_field }}
    <h6>Fecha :</h6>{{ form.fecha |as_crispy_field }}

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
  {% endblock %}