{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p class="text-center">
                    <i class="fab fa-telegram-plane text-success distribuir_icon_index"></i></p>
                <h4>Disfundir</h4>
                <p class="text-justify">Quieres que el mundo conozca tu proyecto?</p>
                <p class="text-justify"> Te presentamos la mejor manera de que el mundo conozca de tu proyectos,
                    contamos con una gran catidad de socios que usan sus cuentas de redes para apoyar cada uno de
                    nuestros productos, te pormetemos una disfuncion 100% organico</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <p class="text-center">
                    <i class="fa fa-user-circle text-success user_icon_index"></i></p>
                <h5>Socios</h5>
                <p class="text-justify">Quiere pertenecer a la gran familia de CacaitoViral?</p>
                <p class="text-justify">Estamos muy entusciasmando con la idea de que trabajaras mano a mano con nosotros y los demas socios</p>
            </div>
        </div>
    </div>
    <p class="text-justify">

    </p>
</div>
{% endblock %}