{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">

    <form class="d-flex" action="{% url 'agregar_via' %}" method="GET">
        <input class="form-control me-2" type="search" placeholder="Escribe el nombre de tu canal" aria-label="Search"
            name="buscador">
        <button class="btn btn-success" type="submit">Buscar</button>
    </form>
    {% if videos %}
    <div class="row mt-3">
        <h1>selecionado</h1>

    </div>
    <div class="row">

        {% for video in videos %}
        <div class="col-sm-12 col-md-4">
            <div class="card" style="width: 100%;">
                <div class="card-header">
                  Featured
                </div>
                    <img src="{{video.thumbnails}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{video.Titulo}}</h5>
                  <p class="card-text">Duracion {{video.Duracion}} segundos</p>
                  <a href="#" class="btn btn-primary">Crear Via</a>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>

{% endblock %}