{% if messages %}
<div class="toast mx-auto" data-autohide="false" style="max-width: 250px;">
  <div class="toast-header bg-danger text-white">
    <i class="fas fa-times text-white"></i>
    <strong class="mr-3">Sorry</strong>
    <small class="ml-auto">11 mins ago</small>
    <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    {% for message in messages %}
    {{ message }}
    {% endfor %} </div>
</div>
{% endif %}