{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block content %}
<h3>Política de privacidad</h3>
<p class=”text-justify”>Esta política de privacidad considera cómo guardamos y tratamos la información de los usuarios a
    conciencia de que usamos sus informaciones provenientes de la social media. Solamente puede usar este sitio si está
    de acuerdo con esta Política de Privacidad. Al registrarse en CacaitoViral, acepta que ha leído, entendido y
    aceptado los siguientes términos y condiciones de esta Política de Privacidad. Si no está de acuerdo con alguno de
    estos términos, no se debe registrar.</p>
<h3>Introducción</h3>
<p class=”text-justify”>Esta Política de Privacidad busca explicar de forma clara, justa y transparente qué datos
    personales recogemos, su finalidad y el tratamiento de los mismos. </p>
<h3>responsabilidad del tratamiento de datos</h3>

<h4>Usuarios: </h4>
<p class=”text-justify”>En nuestra aplicación web, los usuarios se clasifican en diversas categorías, la primera
    categoría son los socios que en adelante los llamaremos “LOS SOCIOS” y la otra categoría de usuarios son los
    Anunciantes, que en lo delante de este documentos los nombraremos como “LOS ANUNCIANTES”; pero para referirnos a
    ambos en lo adelante será conocido como USUARIOS. </p>
<p class=”text-justify”>Nosotros, CacaitoViral, que en lo delante de este documentos nos llamaremos “La Comunidad” somos
    responsables del tratamiento de datos del sitio web CacaitoViral. </p>
<p class=”text-justify”>Nos comprometemos a garantizar la privacidad de los datos personales recogidos desde el primer
    momento en que se registre y de autorización de sus informaciones de las plataformas como son: Google y/o Youtube;
    informaciones que necesitaremos de: Yotube (Titulo del canal, ID del Canal, ID del Video, Suscripciones, Comentarios
    del Video, Calificaciones del Video, El video, Veces compartida, duración del video, Subir Video, etc, entre otras
    informaciones que google nos pueda ofrecer) Facebook, que en adelante llamaremos SOCIAL MEDIAS. </p>
<h4>¿Qué datos personales son recogidos? </h4>
<p class=”text-justify”>Para la finalidad de esta Política de Privacidad, "datos personales" significa cualquier
    información a través de la cual un usuario puede ser identificado personalmente e incluye, sin limitarse a, nombre
    de usuario, dirección de correo electrónico, año de nacimiento y cualquier tipo de información opcional referente a
    servicios prestados. </p>
<p class=”text-justify”>Nuestra política es recoger los datos estrictamente necesarios para una correcta prestación de
    los servicios que ofrecemos. Nunca pediremos datos innecesarios, recogida, importancia y finalidad de los datos
    personales recogidos. </p>
<p class=”text-justify”>Para poder ser usuario en nuestro sitio web se necesita registrar una cuenta completando el
    formulario de registro que se encuentra en el propio sitio y/o registrándose en nuestro sitio web a través de sus
    SOCIAL MENDIA en el botón de nuestro sitio web con el nombre de dicha SOCIAL MEDIA autorización otorgada tanto por
    El SOCIO y/o ANUNCIANTE de dicha SOCIAL MEDIA. </p>
<p class=”text-justify”>Todos los datos recogidos y entregados por el usuario son esenciales para el correcto
    funcionamiento de su cuenta, incluyendo todos los servicios prestados; así como la seguridad y correcto
    funcionamiento de tales servicios, sean prestados por nosotros. </p>
<p class=”text-justify”>Cualquier registro de cuenta llevado a cabo por personas con edad inferior a la permitida para
    poder dar su consentimiento al tratamiento de sus datos personales, a ojos de la legislación aplicable en su país de
    residencia, así como menores de 16 años, no está permitido. Nunca recogeremos, con conocimiento, datos personales de
    personas con edad inferior a la mencionada, siendo responsabilidad de su responsable legal el prevenir su registro.
</p>
<p class=”text-justify”>Enfatizamos que todos los datos personales son tratados de forma lícita y transparente,
    garantizando al usuario la lealtad del tratamiento. </p>
<p class=”text-justify”>Ningún dato personal será vendido, alquilado u ofrecido en intercambio por beneficio alguno, más
    claramente, los datos del SOCIO y/o ANUNCIANTE nunca serán expuesto a un tercero, Las información personales serán
    usado solamente para su funcionamiento interna de NOSOTROS. Estos datos tampoco serán divulgados de forma pública ni
    privada a otros, excepto con la autorización expresa del usuario, tal y como se describe en esta Política de
    Privacidad, o por obligación del gobierno y las leyes que rigen a los procesadores de pago, otros servicios que use
    a través de nosotros o cualquier otra obligación legal. </p>
<h4>¿Porque LOS SOCIOS deben de proveer informaciones de sus SOCIAL MEDIAS?</h4>
<p class=”text-justify”>NOSOTROS usamos las informaciones que usted nos provee desde su SOCIAL MEDIA para llevar control
    de las tareas asignadas en las vías y de ese modo asegurarnos de que fueron realizadas según lo pedimos; el USUARIO,
    está en todo derecho de no realizar una tarea y saltar a otra, de ese modo hacemos cumplir el derecho de no
    discriminación, las tareas asignada al USUARIO son las mismas prácticas que el USUARIO hace en dichas SOCIAL MEDIA.
</p>
<h4>¿Cómo utilizamos la información recogida?</h4>
<p class=”text-justify”>La información recogida es guardada, procesada y protegida en los Estados Unidos de América.
    Todos los datos proporcionados quedan guardados y organizados de forma segura, eficiente, personalizada y
    confidencial.</p>
<p class=”text-justify”>Tomamos una variedad de medidas de seguridad, tanto activa como pasiva, con el fin de asegurar
    la protección de los datos personales de los usuarios contra el acceso, utilización y divulgación no autorizada.</p>
<p class=”text-justify”>El usuario acepta que podamos utilizar sus datos personales para, principalmente:</p>
<p class=”text-justify”>Procesar transacciones realizadas o solicitadas por el propio usuario a través de los
    procesadores de pago autorizados por nosotros; Aumentar el nivel de personalización de los servicios y adecuarlos,
    en la mayor medida posible, a los gustos y preferencias del usuario.</p>
<p class=”text-justify”>Asegurar que todos los servicios de terceros sean ofrecidos sin limitaciones en lo que a la
    identificación del usuario se refiere.</p>
<p class=”text-justify”>Resolver litigios y solucionar problemas; Administrar riesgos y prevenir fraudes u otras
    actividades potencialmente ilegales o prohibidas; Detectar y prevenir el incumplimiento de las políticas o términos
    de servicio aplicables;</p>
<p class=”text-justify”>Proporcionar al usuario servicios de ayuda y soporte; Usaremos la dirección de correo
    electrónico personal proporcionada por el usuario para confirmar el registro de su cuenta, facilitar la recuperación
    del nombre de usuario y de sus contraseñas principal y/o secundaria, poder responder a cualquier comunicación
    iniciada con nuestro soporte, cualquier aviso que consideremos importante y siempre en relación con la cuenta del
    usuario o su actividad, o enviar notificaciones de las subscripciones del foro que el usuario haya solicitado
    previamente. Toda comunicación entre nuestro equipo de soporte y el usuario debe ser mantenida en privado y de forma
    confidencial por ambas partes, excepto cuando sea legalmente necesario o esté autorizado por ambas partes, bajo pena
    de incumplimiento.</p>
<p class=”text-justify”>Recogemos Las informaciones de la SOCIAL MEDIA y otros datos identificativos sobre el usuario
    utilizado para identificarse a este sitio web con vista a ayudar en la detección de situaciones o transacciones no
    autorizadas, prevenir fraude, datos estadísticos internos y determinar el país donde se encuentra el usuario, entre
    otros usos no públicos.</p>
<p class=”text-justify”>El nombre de usuario, que debe ser creado por el usuario y/o obtenido de las SOCIAL MEDIAS por
    el usuario durante el registro de forma que no identifique a la persona, será mostrado públicamente en los mensajes
    creados por el propio usuario en nuestro foro, identificará al usuario en tablas de puntuación, rankings, servicios
    externos cuyo correcto funcionamiento así lo exija, etc. El nombre de usuario también será accesible al referente,
    de ser referido directo del mismo, pudiendo en este caso y en cualquier momento, optar por ocultar el nombre de
    usuario desde las opciones personales. Si un usuario fuese referido alquilado de otro, este último no podrá ver el
    nombre de usuario del primero.</p>
<p class=”text-justify”>No nos hacemos responsables de la información que los usuarios publican voluntariamente en
    nuestro foro, públicamente accesible, donde compartir cualquier dato personal o información que pueda identificar a
    alguien personalmente está completamente prohibido. Dado que nuestro foro es indexado por motores de búsqueda,
    cualquier mensaje publicado en el mismo no podrá ser eliminado bajo petición del usuario a menos que se nos ordene
    de manera legal.</p>
<h4>¿Qué procedimientos de seguridad ofrecemos para garantizarle al usuario la protección de sus datos contra el acceso
    o modificación no autorizados?</h4>
        <p class=”text-justify”>Tomamos todas las precauciones necesarias y legalmente exigidas para garantizar la
            protección de la información recogida de los usuarios registrados en este sitio. Estas precauciones
            garantizan la seguridad "online" y "offline" de esta información.</p>
        <p class=”text-justify”>La seguridad de la cuenta de un usuario también depende de la protección dada por el
            propio usuario, por sus contraseñas principal y/o secundaria así como del uso de la verificación en dos
            pasos.</p>
        <p class=”text-justify”>Nunca pediremos que un usuario nos envíe las contraseñas de su cuenta por lo que
            cualquier correo electrónico u otra comunicación, sitio o programa que solicite las contraseñas de nuestro
            sitio web deberá ser ignorado; aun NOSOTROS desconoceremos su contraseña proporcionada, ya que usamos
            métodos encriptados para almacenar la contraseña uso que es muy común para poder acceder a los sitios web
            con su sección de usuarios.</p>
        <p class=”text-justify”>Si un usuario comparte con otra persona cualquier contraseña relacionada con su propia
            cuenta, por cualquier motivo, incluyendo, pero no limitándose a la promesa de la otra persona para ofrecer
            servicios o agrupación de cuentas, esta otra persona tendrá acceso a la cuenta del usuario y a sus
            respectivos datos personales. Cada usuario es siempre responsable de las acciones llevadas a cabo en y con
            su cuenta, independientemente de quien la utilice. Si un usuario cree que otra persona ha podido conseguir
            cualquiera de las contraseñas de su cuenta, debe cambiarlas inmediatamente desde las opciones personales
            tras iniciar sesión o solicitar una contraseña nueva siguiendo las instrucciones que podrá encontrar en la
            página de inicio de sesión.</p>
        <h4>¿Cómo es la información recogida compartida con terceros?</h4>
        <p class=”text-justify”>Nosotros, a través de nuestro sitio web, actualmente no colaboramos con otros
            proveedores de servicios; Si en dado caso esto vaya a ocurrir después de que usted haya leído este
            documento, estamos obligado a darle a conocer por vía de correo electrónico que usted nos proporcionó y/o al
            iniciar sección en nuestra sitio web cualquier eventualidad con otro proveedores de servicios, en lo
            adelante se conocerán como “PROOVEDORES”.</p>
        <p class=”text-justify”>Independientemente de lo descrito con anterioridad, opcionalmente y solo con el
            consentimiento del usuario, podemos proporcionar otros datos personales, rellenados por él mismo,
            importantes para la simplificación de la prestación de servicios a determinados proveedores de servicios
            externos cuyos servicios son proporcionados a través de nosotros y en conformidad a nuestra Política de
            Privacidad y cualquier otra medida de seguridad aplicable y apropiada.</p>
        <p class=”text-justify”>En este sitio hay incluidos enlaces a sitios de terceros. Estos sitios se rigen por sus
            propias políticas de privacidad y términos de servicio por lo que no somos responsables de sus operaciones,
            incluyendo, pero no limitándose a sus prácticas de información, protección y tratamiento de datos. Los
            usuarios deben analizar las políticas de privacidad de los mismos antes de enviar o proporcionar datos
            personales a estos sitios de terceros.
        <p>
        <p class=”text-justify”>En caso de fraude, ilegalidad o cualquier otro acto llevado a cabo de forma perjudicial
            contra nuestra compañía, nuestros servicios, nuestra imagen o nuestros proveedores de servicios, entre
            otros, practicado de forma activa o pasiva, con intención o no, los datos personales de este usuario podrán
            ser divulgados a terceros para ayudar en la resolución de los actos practicados y prevenir que los mismos
            sean cometidos contra ellos.</p>
        <p class=”text-justify”>En el ámbito de las condiciones de uso de este sitio y de todos sus servicios, el
            usuario es responsable de proporcionar datos personales verdaderos y actualizados. A su vez, nosotros
            garantizamos al usuario el derecho a consultar, actualizar y/o modificar la información proporcionada por él
            mismo, siempre que lo desee y con total autonomía, desde el área de configuraciones personales de su cuenta
            y, tras iniciar sesión, en otras áreas del sitio señaladas para tal propósito.</p>
        <p class=”text-justify”>El usuario tiene derecho al olvido así como derecho a solicitar la eliminación de sus
            datos personales. Para simplificar este proceso, estos derechos son automáticamente ejercidos tras la
            suspensión permanente de la cuenta del usuario, conforme a lo definido en esta política. A pesar de la
            automatización de este proceso, el usuario podrá, si así lo desea, solicitar tales derechos y, dado que la
            solicitud implicará la retirada del consentimiento previamente dado para el tratamiento de sus datos
            personales, tal petición tendrá que ser hecha junto a la solicitud de la retirada de tal consentimiento, tal
            y como se establece en esta política.</p>
        <p class=”text-justify”>En el caso de que un registro en este sitio web sea suspendido permanentemente debido al
            incumplimiento de los Términos de Servicio, por inactividad u otro motivo válido; nos reservamos el derecho
            de no autorizar el uso de los mismos datos para registrar una nueva cuenta en este sitio, cumpliendo así con
            los Términos de Servicio y con el fin de proteger el servicio en general, a otros usuarios y a los
            proveedores de servicio.</p>
        <p class=”text-justify”>Además, informamos de que los datos personales de un usuario solamente serán usados de
            forma activa en cuentas que estén activas. Cuando una cuenta queda permanentemente suspendida, el uso de sus
            datos personales será hecho solo de forma pasiva, para cumplir con nuestros Términos de Servicio, solucionar
            problemas, evitar fraudes, resolver litigios o dar respuesta a cuestiones y requisitos legales, además de
            otros usos privados, cesando en todo caso el intercambio de información que el usuario haya autorizado
            anteriormente con servicios externos, excepto cuando sea legalmente necesario.</p>
        <p class=”text-justify”>Tras la suspensión permanente de la cuenta de un usuario, solamente archivaremos los
            datos estrictamente necesarios para el cumplimiento de nuestros Términos de Servicio, protección del
            servicio en general y cualquier obligación legal, entre otros, y durante todo el tiempo que esté el servicio
            disponible. Todos los datos no esenciales serán inmediata y automáticamente eliminados en esa altura.</p>
        <p class=”text-justify”>El usuario, al aceptar y dar su consentimiento a esta Política de Privacidad durante el
            registro de su cuenta en este sitio web, estará automáticamente confirmando su consentimiento, así como cada
            vez que use su cuenta, autorizando y consintiendo expresamente nuestro uso de sus datos personales y nuestra
            obligación de actuar de acuerdo con lo estipulado en este documento.</p>
        <p class=”text-justify”>En el momento del registro, el usuario declara darnos su consentimiento para que
            procesemos sus datos personales, así como declara haber leído, comprendido y aceptado esta Política de
            Privacidad, Si no está de acuerdo con esta Política de Privacidad y no tiene intención de dar consentimiento
            al tratamiento de sus datos personales, el usuario no puede ni debe acceder a este sitio web.</p>
        <p class=”text-justify”>Señalamos que el titular de los datos tiene derecho a retirar su consentimiento en
            cualquier momento. Para ello, tiene que enviar una petición de soporte desde su cuenta y solicitar la
            retirada del consentimiento del tratamiento de datos, que será efectuada tras la necesaria confirmación de
            que la petición se origina del propietario actual de la cuenta en cuestión, siendo el usuario consciente de
            que tal acto no compromete la licitud del tratamiento efectuado con base al consentimiento previamente dado
            y que no podrá acceder a este sitio web a partir de ese momento. Lo mismo ocurrirá automáticamente al no
            usar una cuenta de usuario durante el periodo definido en nuestros Términos de Servicio, finalizando el cual
            la cuenta quedará automáticamente suspendida.</p>
        <h3>Uso de cookies u otros ficheros en su dispositivo</h3>
        <p class=”text-justify”>En la actualidad NOSOTROS no hacemos uso de cookies, ni usamos su dispositivos para
            almacenar ninguna información, si después de haber leído las Nuestras normas y políticas decidimos hacer
            implementaciones de cookies u almacenar en su dispositivo otros ficheros, NOSOTROS estamos obligado a
            dejarle saber por su email y o por nuestro sitio web, y darle el derecho de decisión al usuario. </p>
        <p class=”text-justify”>Al acceder a nuestro sitio, NOSOTROS y los PROOVEDORES de servicio con quienes
            colaboramos podrían colocar pequeños ficheros de datos en el computador o dispositivo utilizado por el
            usuario. Estos ficheros de datos podrán ser cookies u otro tipo de almacenamiento local disponible en el
            navegador de internet o aplicación utilizada. Usamos esta información para identificar al usuario, guardar
            algunas opciones importantes para el uso de su cuenta, ayudar a garantizar que la seguridad de su cuenta no
            quede comprometida, mitigar riesgos y asegurar y promover la seguridad de nuestro sitio web y de todos
            nuestros servicios disponibles</p>
        <h3>Alteraciones a esta política de privacidad</h3>
        <p class=”text-justify”>Nos reservamos el derecho de alterar esta política de privacidad siempre que lo
            consideremos necesario, por lo que aconsejamos una lectura regular de este documento que estará siempre
            acompañado de la fecha de última actualización; también NOSOTROS nos comprometemos a dejar en conocimiento
            del usuario a través de email y/o nuestro sitio web siempre que haya un cambio en nuestra política.
            Cualquier cambio se hará efectivo tras haber sido publicado. Cualquier alteración significativa que implique
            cambios en el funcionamiento de esta política; excluyendo correcciones gramaticales, reformulaciones,
            eliminación o adicción de textos para simplificar o mejorar una explicación, entre otros, será anunciada en
            el foro de este sitio web.</p>
        <h3>Cuenta Local:</h3>
                <p class=”text-justify”>Es llamada CUENTA LOCAL a aquellas cuentas donde el usuario ingrese todas sus
                    informaciones en el registro sin haber solicitado autorización de informaciones de una SOCIAL MEDIA.
                </p>
                <h4>Agrupaciones de cuentas:</h4>
                Esta opción aplica a todos los usuarios que posee una CUENTA LOCAL y que de por si quiere usar varias
                cuentas DE LA SOCIAL MEDIA la obligación del usuario es probar de que el es propietario y/o es usuario
                autorizado de dichas cuentas de la SOCIAL MEDIA, el uso mal debido de esta para cometer actos ilegales
                llevara a bloquear todas las cuentas dependientes, y podemos proveer las informaciones personales del
                usuario a terceros solo para medidas legales.
                <h4>Cuenta Duplicadas:</h4>
                <p class=”text-justify”>Nosotros tenemos estrictamente prohibido la duplicidad de cuentas de un mismo
                    usuario, al menos que las cuentas estén relacionada directamente a una SOCIAL MEDIA el usuario puede
                    registrar cuantas cuentas desee de su SOCIAL MEDIA, pero solo podrá tener una cuenta local de
                    nuestro sitio web.</p>
                <h3>Información adicional</h3>
                <p class=”text-justify”>El español es el idioma principal de la página. Cualquier otro idioma ha sido
                    traducido a partir del idioma principal. Si le surgiese alguna duda al usar cualquiera de esas
                    traducciones tendría que consultar la página en español.</p>
                <h3> Recuperación de la cuenta del usuario:</h3>
                <p class=”text-justify”>NOSOTROS le brindamos el servicio de recuperar la CUENTA LOCAL del usuario,
                    enviándole un correo electrónico de recuperación de cuenta, como hemos aclarado con anterioridad, no
                    proveeremos su contraseña así que esta tendrá que ser cambiada por el usuario, en cuanto a las
                    cuentas de SOCIAL MEDIA, no proporcionamos servicio de recuperación de contraseña debido a que
                    lógicamente esta información es administrada absolutamente por el usuario y el proveedor de la
                    SOCIAL MEDIA.</p>

                <h3>Discriminación, Discriminación Ideológica, Igualdad Y Diferencia Política </h3>

                <p class=”text-justify”>NOSOTROS respetaremos totalmente la ideología del USUARIO, respetando siempre
                    sus derechos, de igual manera al USUARIO registrarse y aceptar las política de privacidad de este
                    sitio web, debe mantener el mismo derecho hacia los demás usuario, cualquier incumplimiento que
                    infrinjan esta política el USUARIO debe darlo a conocer a NOSOTROS. </p>

                <h3>¿Qué actividades el USUARIO realizara en este sitio web?</h3>

                <p class=”text-justify”>EL USUARIO como hemos documentado anteriormente EL USUARIO se les asignara
                    diversas tareas, las cuales son las mismas actividades que el realiza en sus SOCIAL MEDIAS, EL
                    USUARIO no está obligado a realizar dicha tareas por lo cual podrá saltar a la siguiente tarea. </p>

                <p class=”text-justify”>SERVICIOS DE GOOGLE (YOUTUBE), EL USUARIO podrá desde nuestro sitio web
                    calificar un video que mostraremos incrustado de YOUTUBE, puede comentar el video, compartir el
                    video en otras SOCIAL MEDIA, suscribirse al canal que mostraremos. Estas actividades la archivaremos
                    para llevar un manejo de las actividades del USUARIO.</p>
                {% endblock %}