    <div class="col-sm-6 border border-white ">
      <div class="mt-3">
      <h5 class="text-center text-white">© Copyright 2020 – CacaitoViral</h5>
      <a href="www.jansgreen.info"><h6 class="text-center text-white">Quieres una web?</h6></a>
      <a href=""><h5 class="text-center text-white">Tratamiento MeRT para niños con autista </h5></a>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <a href="" class="ml-5 mr-5"><i class="fas fa-puzzle-piece twitter_footer "></i></a>
          </div>
        </div>
      </div>

    </div>
    </div>
    <div class="col-sm-6 border border-white">
      <ul class="list-group list-group-horizontal mt-5 mb-5">
        <li class="list-group-item ml-5 li_footer_index border border-0"><a href=""><i class="fa fa-facebook facebook_footer "></i></a></li>
        <li class="list-group-item ml-5 li_footer_index border border-0"><a href=""><i class="fab fa-youtube youtube_footer "></i></a></li>
        <li class="list-group-item ml-5 li_footer_index border border-0"><a href=""><i class="fab fa-instagram instegram_footer "></i></a></li>
        <li class="list-group-item ml-5 li_footer_index border border-0"><a href=""><i class="fab fa-twitter twitter_footer"></i></a></li>
      </ul>
    </div>
