{% if messages %}
<div class="toast mx-auto justify-content-center" data-autohide="false">

{% for message in messages %}

{% if message.tags == 'success' %}
<!--MENSAJE EXITOSO-->
{% include 'includes/toasts/message_success.html' %}
{% endif %}

<!--MENSAJE ERROR-->
{% if message.tags == 'error' %}
{% include 'includes/toasts/message_error.html' %}
{% endif %}

<!--MENSAJE ADVERTENCIA-->
{% if message.tags == 'warning' %}
{% include 'includes/toasts/message_warning.html' %}
{% endif %}

<!--MENSAJE INFORMACION-->
{% if message.tags == 'info' %}
{% include 'includes/toasts/message_info.html' %}
{% endif %}

<!--MENSAJE DEPURAR-->
{% if message.tags == 'debug' %}
{% include 'includes/toasts/message_debug.html' %}
{% endif %}
 {% endfor %}
</div>
{% endif %}